:root {
   --white-color: #ffffff;
   --alpha-white-color: rgba(255, 255, 255, 0.6);
   --main-color: #2196f3;
   --primary-text-color: #757575;
   --black-color: #212121;
   --outline-border: #eeeeee;
   --grey-color: #f5f4fa;
   --black-bg-color: #2f303a;
}

h1, h2, h3, h4, h5, h6, ul, body, p {
   margin: 0;
   padding: 0;
}

body {
   color: var(--black-color);
   font-size: 14px;
   font-weight: 500;
   font-family: "Roboto"sans-serif;
   background-color: var(--white-color);
   line-height: normal;
}

.link {
   line-height: 1.15;
   letter-spacing: 0.02em;
   color: var(--black-color);
}

.btn {
   padding: 6px 22px;
   background: var(--grey-color);
   color: var(--black-color);
   border-radius: 4px;
   border: none;
   font-family: Roboto;
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.03em;
   cursor: pointer;
   font-weight: 500;
   align-items: center;
}

.btn:hover,
.btn:focus {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   background: var(--main-color);
   transition: 0.25s;
   color: var(--white-color);
}

.container {
   margin: 0 auto;
   max-width: 1170px;
}

/* Header */

.header {}

.header-nav {}

.logo-link {
   font-family: Raleway;
   font-style: normal;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.15;
   color: var(--black-color);
}

.logo-web {
   color: var(--main-color);
}

.header-nav-list {}

.header-nav-list-item {}


.header-nav-list-item,
.link:hover,
.link:focus {
   color: var(--main-color);
}

.header-accent {
   color: var(--main-color);
}

.header-contact-list {}

.header-contact-item .link {
   line-height: 1.15;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
}

.header-contact-item .link:hover,
.header-contact-item .link:focus {
   color: var(--main-color);
}

/* Hero section */


.hero-section {
   background-color: var(--black-bg-color);
}

.hero-heading {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.35;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-color);
}

.hero-button {
   padding: 10px 32px;
   font-weight: 700;
   line-height: 1.85;
   color: var(--white-color);
   background-color: var(--main-color);
}


/* Advantages section */

.advantages-section {}

.advantages-heading {}

.advantages-list {}

.advantages-list-item {}

.advantages-item-heading {
   line-height: 1.15;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.advantages-item-paragraph {
   line-height: 1.15;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
}


/* What we do section */

.what-we-do-section {}

.what-we-do-heading {
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
}

.what-we-do-list {}

.what-we-do-item {}

.what-we-do-img {}

/* Our team section */


.our-team-section {}

.our-team-heading {
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--black-color);
}

.our-team-list {}

.our-team-list-item {}

.our-team-item-img {
   width: 270px;
}

.our-team-item-description {
   font-size: 16px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--black-color);
}

.our-team-item-description-heading {}

.our-team-item-paragraph {
   color: var(--primary-text-color);
}

/* Footer section */

.footer {
   background-color: var(--black-bg-color);
}

.footer>.container>.logo-link {
   color: var(--white-color);
}

.footer-address {}

.footer-list {}

.footer-address-item {}

.footer-address-link {
   line-height: 1.7;
   letter-spacing: 0.03em;
   font-style: normal;
   color: var(--alpha-white-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
   color: var(--white-color);
}

/* PORFOLIO! */

.portfolio-heading {
   display: none;
}

/* Portfolio button list section */

.portfolio-button-list {}

.portfolio-button-list-item {}

.portfolio-button {}

/* Portfolio cards list section */

.portfolio-cards-list {}

.portfolio-cards-list-item {
   background-color: var(--white-color);
   border: 1px solid var(--outline-border);
   box-sizing: border-box;
}

.portfolio-cards-item-link {}

.potrfolio-cards-item-img {
   width: 370px;
}

.portfolio-cards-item-description {}

.portfolio-cards-item-heading {
   font-size: 18px;
   line-height: 2;
   color: var(--black-color);
   letter-spacing: 0.06em;
}

.portfolio-cards-item-paragraph {
   font-size: 16px;
   line-height: 2;
   color: var(--primary-text-color);
   letter-spacing: 0.03em;
}